@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.menuHead{
    height: 80px;
    display: flex;       
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin: 0;
    height: 36px;
    margin-left: 6.9%;
}
.men{
    font-family: "IBM Plex Sans", monospace;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    color: #060A24;  
    display: inline;
    width: 100%;
    cursor: pointer;
    margin-left: 48px;
}
a{
    text-decoration: none;
    color: #060A24;  
}

a:hover {
    color: #00f3bb;
    text-decoration: line-through;
}

.men:hover {
    color: #00f3bb;
    text-decoration: line-through;
}

.comamonda{
    display: flex;
    margin-right: 6.9%;
}

@keyframes salidaLado {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: 0%;     
    }
}

label{
    display: none;
}
.comamondaburger {
    margin: 0;
    top: 44px;
    display: flex;
    position: absolute;
    z-index: 1;
    background: #0000EC;
    width: 100%;
    height: 224px;
    color: #fff;    
    list-style: none; 
    flex-direction: column;
    justify-content: space-around;
    animation: salidaLado 0.5s;
    animation-direction: initial;
}
.comamondaburger li a{
    font-family: "IBM Plex Sans", monospace;
    font-size: 16px;
    color: #fff; 
    list-style: none;
    padding-left: 16px;
    text-decoration: none;   
}
.comamondaburger li a:hover{
    color: #00f3bb;
    text-decoration: line-through;
}
.comamondaburger{
    display: none;
}
#burgerbott, .fa-times{
    display: none;
}
#burgerbott:checked ~ .comamondaburger{
    display: flex;
}
#burgerbott:checked ~ .comamondaburger::after{
    transition: all 1s;
}
#burgerbott:checked + label > .fa-bars{
    display: none;
}
#burgerbott:checked + label > .fa-times{
    display: block;
    
}
.fa-times{
    transition: all 1s linear;
}

.punto{
    color: #0000EC;
}

.texthead{
    margin-top: 140px;
    margin-left: 13.9%;
}

.contentexto {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;

}

.texthead .contentexto h1 {
    display: inline;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 64px;
}

.rayado {
    text-decoration: line-through;
}

.texthead p {
    font-family: "IBM Plex Sans", monospace;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding-left: 6px;
    width: 628px;
    align-content: stretch;
}

.contenedorp {
    /* border: 1px solid #000; */
    width: fit-content;
    display: block;
    position: relative;
}

.buttonhead{
    display: flex;
    position: relative;
    height: 98px;
    align-items: flex-end;
}

.buttonhead > input {
    width: 226px;
    height: 56px;
    color: #000;
    background: #00F3BB;
    border: none;
    font-family: "IBM Plex Sans", monospace;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

}


.buttonhead > input:hover {
    background-image: linear-gradient(-120deg, #0000FE, #00F0B8);
    color: #ffffff;
}

.fondo{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 750px;
    background: linear-gradient(173.2deg, #0000ff 18%, #0000a3 87%);
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
}

#episodios {
    margin-left: 13.9%;
    position: relative;
    top: 100px;
    font-size: 48px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.contenedormusica {
    position: relative;
    width: 100%;
    height: 642px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.boxmusica {
    height: 620px;
}

.contenedormusica > iframe {
    top: 15%;
    display: block;
    width: 420px;
    height: 200px;
    padding-bottom: 30px;
}

.nosotros {
    display: flex;
    justify-content: center;  
}

.nosotros > img {
    position: relative;
    width: 440px;
}

.venimos {
    align-self: center;
}

.nosotros .venimos h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 58px;
    margin-bottom: 20px;
    color: #060A24;

}

.nosotros .venimos p {
    width: 468px;
    font-family: "IBM Plex Sans";
    margin: 20px 0 20px 0;
    font-size: 22px;
    line-height: 24px;
    color: #060A24;
}

.invitados {
    margin-top: 64px;
}

.invitados h2{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 48px;
    margin-left: 13.9%;
    margin-right: 16px;
}

.contenedorfotos {
    display: flex;
    margin-top: 40px;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    justify-content: stretch;
}

.invitados .contenedorfotos img {
    position: relative;
    width: 33.3%;
}

.temas {
    margin-top: 48px;
    margin-left: 16px;
    margin-right: 16px;
    /* margin-bottom: 42px; */
    height: 300px;
    display: flex;
    flex-direction: column;
}

.temas h2 {
    font-family: "IBM Plex Sans", sans-serif;
    margin-left: 13.9%;
    font-size: 48px;
    font-weight: 400;
    color: #060A24;
}
.contedortemas {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.icontopic {
    display: flex;
    width: 260px;
    height: 60px;
    flex-flow: column;
    text-align: center;
}

.icontopic h4{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #060A24;
}

.ultima-novedades {
    height: 300px;
}

.ultima-novedades .fondo{
    height: 300px;
}

.contenidoultimo {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenidoultimo h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    margin-bottom: 13px;
    color: #ffffff;
}

.contenidoultimo .buttomfin{
    width: 345px;
    height: 56px;
    margin-bottom: 13px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #060A24;
    background: #00F3BB;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.contenidoultimo .buttomfin:hover{
    background-image: linear-gradient(-120deg, #0000FE, #00F0B8);
    color: #ffffff;
}

.ultima-novedades .fondo {
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0 100%);
}

.piepagina{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    margin-bottom: 31px;
    padding-left: 16px;
    padding-right: 16px;
}

.piepagina p {
    font-family: "IBM Plex Sans", sans-serif;
    color: #060A24;
    font-size: 16px;
    text-align: center;
}

.iconspie i{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 34px;
}

.fab {
    display: block;
    color: #060A24;
    width: 18px;
    height: 28px;
    visibility: visible;

}
@media screen and (min-width : 1600px) {
    .contenedormusica > iframe {
        width: 800px;
    }
}
@media screen and (max-width: 650px){
    .menuHead{
        height: 44px;
    }
    .logo{
        width: 24px;
        margin-left: 16px;
    }
    label{
        display: block;
        margin-right: 19px;
    }
    .texthead{
        margin-top: 20px;
        margin-left: 2%;
    }
    .texthead .contentexto h1{
        font-size: 36px;
        font-weight: 400;
    }  
    .texthead p{
        font-size: 16px;
        width: 100%;
    }
    .buttonhead > input{
        width: 100%;
        margin-right: 2%;
    }
    .fondo{
        clip-path: polygon(0 8%, 100% 5%, 100% 92%, 0% 96%);
    }
    #episodio {
        margin-top: 20px;
    }
    #episodios{
        font-size: 36px;
        font-weight: 400;
    }
    .boxmusica, .fondo, .contenedormusica{
        height: 1000px;
    }
    .contenedormusica iframe{
        width: 296px;
        height: 200px;
    }
    .nosotros{
        flex-direction: column;
        align-items: center;
    }
    .nosotros > img{
        width: 80%;
    }
    .venimos{
        width: 85%;
    }
    .nosotros .venimos h2 {
        font-size: 36px;
        font-weight: 500;
    }
    .nosotros .venimos p {
        font-size: 14px;
        font-weight: 400;
        width: 100%;
    }
    .invitados h2{
        font-size: 36px;
        margin: 7.5%;
    }
    .invitados .contenedorfotos img{
        width: 100%;
    }
    .temas{
        height: 100%;
    }
    .temas h2{
        font-size: 36px;
        font-weight: 500;
    }
    .contedortemas{
        justify-content: center;
        flex-direction: column;
        align-items: center;     
        height: 100%;
    }
    .contedortemas .icontopic{
        padding-bottom: 200px;
    }
    .ultima-novedades{
        margin-top: 150px;
    }
    .ultima-novedades .fondo {
        clip-path: polygon(0 20%, 100% 10%, 100% 100%, 0 100%);
    }
    .contenidoultimo h2{
        font-size: 36px;
        text-align: center;
        padding-top: 60px;
        font-weight: 400;
        width: 90%;
    }
    .contenidoultimo .buttomfin{
        width: 90%;
    }
    .piepagina{
        flex-direction: column;
        align-items: center;
    }
    .iconspie{
        padding-top: 10px;
    }
    .iconspie .fa-telegram{
        margin: 0;
    }
    .comamonda, .men{
        display: none;
    }
}

